body {
    opacity: 0; 
    animation: fadeIn 4s forwards; 
}

@keyframes fadeIn {
    to {
        opacity: 1; 
    }
}


header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px;
    background-color: #ffc017;
    border-bottom: 1px solid black;
    height: 50px;
    position: sticky;
    top: 0;
    z-index: 10;
  }

  #logo {
    margin-left: 80px;
  }

  #logo img {
    width: 80%;
  }
  
  #navbar-container {
    display: flex; 
    align-items: center; 
  }
  
  #navbar ul {
    list-style: none; 
    padding: 0; 
    margin: 0; 
    display: flex; 
  }
  
  #navbar li {
    margin-right: 20px;
}

#gs {
  margin-left: 20px;
  background-color: #191919;
  font-weight: 200;
  border-radius: 25px;
  padding: 10px;
  color: white !important;
  }

#navbar a {
      text-decoration: none;
      color: #191919;
      align-items: center;
      font-family: "Roboto", serif;

  }
  

  #section1 {
    background-color: #ffc017;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
  }

  #section1 h1 {
    font-family: "Spectral", serif;
    font-size: 80px;
    letter-spacing: -5px;
    margin-left: 80px;
    padding-bottom: 90px;
  }

  #section1 p {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    margin-left: 80px;
  }

  #start {
    border-radius: 25px;
    color: white;
    padding: 5px 40px;
    background-color: #191919;
    border: none;
    font-family: "Roboto", sans-serif;
    margin-left: 80px;
    margin-top: 40px;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#section2 {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
}

.article1 {
    width: 30%;
    margin: 0 10px;
}

#trend {
    width: 100%;
}

.title {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.profile {
    border-radius: 25px;
    transform: scale(0.5);
}

.profile2 {
border-radius: 10px;
transform: scale(0.5);
}

#section3 {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
}

#container-article {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 70%;
    justify-content: start;
}

#aside-container {

    width: 30%;
    
    
}

.article {
    display:flex ;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2rem 0;
    width: 100%;
    justify-content: space-between;
}

.left {
    width: 60%;
}

.right {
    width: 40%; 
}

.right img {
    transform: scale(0.6);
    max-width: 100%;
    max-height: 100%;
}

#trend {
    display: flex;
    align-items: center;
}

#trend h3  {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 10px;
    letter-spacing: 1px;
    margin-bottom: 1rem;
    margin-top: 15px;
    margin-left: 3px;
}

h4 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 10px;
}

.article1 p {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    margin-top: 10px;
    font-size: 12px;
}

.article1 h5 {
    font-family: "Roboto", sans-serif;
    color: lightgray;
    font-weight: 100;
    font-size: 9px;  
}

.stardate {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 10px 0;
}

.date {
    margin: 10px 0;
}

.article h2 {
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
    margin: 10px auto;
}

.article p {
    font-family: "Roboto", sans-serif;
    color: grey;
    font-weight: 400;
    font-size: 10px;
    margin: 10px 0;
}

.article h5 {
    font-family: "Roboto", sans-serif;
    color: grey;
    font-size: 10px;
}

h5 span {
    background-color: rgba(211, 211, 211, 0.8);
    border-radius: 15px;
    padding: 5px 5px;
    }

    .datestar {
        display: flex;
    align-items: center;
    flex-direction: row;
    margin: 10px 0;
    }

    #aside-container h3 {
        font-family: "Roboto", sans-serif;
        font-size: 10px;
        font-weight: bolder;
        margin-top: 40px;
        margin-bottom: 10px;
    }

    .side li {
        border: 1px solid lightgray;
        margin: 5px 2px;
        padding: 3px 5px;
        font-family: "Roboto", sans-serif;
        color: gray;
        font-size: 10px;
        border-radius: 2px;
        

    }


    .side {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;
    }



hr {
    margin: 10px 0;
}














  
  




